@{
    ViewData["Title"] = "Menu Page";
}

@model restaurantOrderManagement.ViewModels.MenuViewModel


<h1 class="display-4">Menu List</h1>

@using (Html.BeginForm("FilterMenu", "Menu", FormMethod.Post, new { id = "categoryForm" }))
{
    <select id="categoryFilter" name="categoryName" onchange="document.getElementById('categoryForm').submit();">
        <option value="All">All</option>
        @foreach (var category in Model.categoryItems)
        {
            <option value="@category.categoryname">@category.categoryname</option>
        }
        
    </select>
}


<table class="table">
    <thead>
        <tr>
            <th>
                Food Name
            </th>
            <th>
                Description
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var menuitem in Model.menuItems)
            {
                <tr>
                    <td>
                        @menuitem.foodname
                    </td>
                    <td>
                        @menuitem.fooddescription
                    </td>
                    <td>
                        @menuitem.categoryname
                    </td>
                    <td>
                        @menuitem.foodprice
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

